# Researcher verification in line with Safe People principle

**Chair**: Rachel Tesfaye (HDR UK)

## Background

Following a funding award from UKRI, HDR UK is working in partnership with governance and technical stakeholders across the UK Health Data Research Alliance (HDRA), TRE Community, and SDE Network to develop an integrated Researcher Registry system, supporting streamlined researcher verification in line with the Five Safes Safe People principle.

The aims of this breakout session are to:

- Seek consensus across the community as to the requirements that should be met by a research entity before accessing data and which data sources should be used to verify that those requirements are met
- Consider how verification of a researcher’s affiliation with a university/institution should be verified
- Consider how a standardised Researcher Registry could be designed and implemented across research entities from both a governance and technical perspective, including across the TRE Community and sub-national SDEs

## Prompts

- What are the minimum requirements for vetting criteria and why?
- What are the key challenges and risks associated with researcher verification?
- What are the key considerations for pulling information from existing systems?
